<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>637468107690-3lv6nlt76f7bjo43nj413q98rmhbpmoq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.637468107690-3lv6nlt76f7bjo43nj413q98rmhbpmoq</string>
	<key>API_KEY</key>
	<string>AIzaSyDBdSHEbpLRUB8_831XwqDYQWpu2jieyzs</string>
	<key>GCM_SENDER_ID</key>
	<string>637468107690</string>
	<key>PLIST_VERSION</key>
	<string>9</string>
	<key>BUNDLE_ID</key>
	<string>com.DaliyWashUser.pavilion</string>
	<key>PROJECT_ID</key>
	<string>dailywash-67f79</string>
	<key>STORAGE_BUCKET</key>
	<string>dailywash-67f79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:637468107690:ios:fa3abd84ef29ea305ec1d3</string>
</dict>
</plist>
